<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
</head>
<body>
    <!-- rendering 된 data를 parsing 하기위한 변수 선언 -->
    <% let acc_time_stamp = [] %>
    <% let total_time_stamp = [] %>
    <% let total_num = [] %>
    <% let acc_num = [] %>
    <% let per = [] %>
    <% let temp = 0 %>

    <!-- state table (사고 사례) 에 대한 data parsing-->
    <% for(var j=0; j<data[0].length; j++) {%>
        <%time_stamp = data[0][j].TIME.slice(0, 10)%>
        <% temp = temp + 1 %>
        <% if(acc_time_stamp.indexOf(time_stamp) === -1) {%>
            <% acc_num.push(temp - 1) %>
            <% acc_time_stamp.push(time_stamp) %>
        <%}%>
    <%}%>
    <% acc_num.push(temp) %>
    <% acc_num.shift() %>

    <% temp = 0 %>
    <% for(var j=0; j<data[1].length; j++) {%>
        <% time_stamp = data[1][j].TIME.slice(0, 10)%>
        <% temp = temp + 1 %>
        <% if(total_time_stamp.indexOf(time_stamp) === -1) {%>
            <% total_num.push(temp - 1) %>
            <% total_time_stamp.push(time_stamp) %>
        <%}%>
    <%}%>
    <% total_num.push(temp) %>
    <% total_num.shift() %>
    
    <!-- state / module 을 이용해 날짜별 사고확률 (percent)-->
    <% per.push((acc_num[0] / total_num[0]) * 100) %>
    <% for(var j=1; j<acc_time_stamp.length; j++) {%>
            <% per.push(((acc_num[j] - acc_num[j - 1]) / (total_num[j] - total_num[j - 1])) * 100) %>
    <%}%>

    <canvas id = "line-chart" width = "150" height="100"></canvas> <br>

    <script>
        const lineChart = new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
            labels: <%- JSON.stringify(acc_time_stamp); %> ,
            datasets: [
                {
                data: <%- JSON.stringify(per); %>,
                label: "사고(percent)",
                borderColor: "#c45850",
                fill: false
                }
            ]
            },
            options: {
            title: {
                display: true,
                text: '날짜별 사고 현황'
            }
            }
        });
    </script>
</body>
</html>